@model Bookshelf.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"> @Html.DisplayFor(model => model.Title)</h1>
            </div>
            <div class="panel-body">
                <p class="text-info">
                    @Html.DisplayNameFor(model => model.Category.Name) :  @Html.DisplayFor(model => model.Category.Name) <br />
                    @Html.DisplayNameFor(model => model.PublishedDate) :  @Html.DisplayFor(model => model.PublishedDate) <br />
                    @Html.DisplayNameFor(model => model.Description) :  @Html.DisplayFor(model => model.Description) <br />
                    @Html.DisplayNameFor(model => model.ISBN) :  @Html.DisplayFor(model => model.ISBN)
                </p><br /><br />
                <div class="pager">
                <li>@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </li>
                <li>@Html.ActionLink("Back to List", "Index")</li>
                    </div>
            </div>
        </div>
    </div>
</div>


